# test clients
packages/server/test-integration/intakeSurvey/*
!packages/server/test-integration/intakeSurvey/test-client-1.json
!packages/server/test-integration/intakeSurvey/test-client-2.json

*TEMP*

!packages/shared/src/email/templates
!packages/shared/src/email/templates/*

# certificates
packages/server/dev-certs/

# Build output
.next
.nuxt
.vuepress/dist
*.tgz
build
dist
out
packages/client/src/util/dependencies.json

# Logs
.pnpm-debug.log*
*.log
lerna-debug.log*
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Reports
.nyc_output
*.lcov
coverage
lib-cov
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
.yarn-integrity
*.pid
*.pid.lock
*.seed
pids

# Dependencies
bower_components
jspm_packages/
node_modules/
web_modules/

# Local configuration
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.lock-wscript
*.local

# Caches
.cache
.docusaurus
.dynamodb/
.esbuild
.eslintcache
.fusebox/
.grunt
.node_repl_history
.npm
.parcel-cache
.pnp.*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.temp
.tern-port
.vscode-test
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.tsbuildinfo

# OS Garbage
.DS_Store
