 .passwordChangeForm {
    max-width: 600px;
    width: 100%;
    margin: 48px 24px 0 24px;
 }

.passwordChangeForm fieldset {
  border-color: transparent !important;
}

.acceptError {
  padding-top: 1em;
}

.checkBoxDescriptors {
  color: #0f0d30 !important
}
